<p>
  <span class='list-header'>Introduction</span><br/>
  <a href="/introduction-to-the-greenplum-database-architecture">Introduction to the Greenplum Database Architecture</a><br/>
</p>

<p>
  <span class='list-header'>Get Started</span><br/>
  <a href="/create-users-and-roles">Create Users and Roles</a><br/>
  <a href="/create-and-prepare-database">Create and Prepare Database</a><br/>
  <a href="/create-tables">Create Tables</a> 
</p>

<p>
  <span class='list-header'>Data Loading Unloading</span><br/>
  <a href="/data-loading">Data Loading</a>
</p>

<p>
  <span class='list-header'>Performance Tuning</span><br/>
  <a href="/queries-and-performance-tuning">Queries and Performance Tuning</a>
</p>

<p>
  <span class='list-header'>Analytics</span><br/>
  <a href="/introduction-to-greenplum-in-database-analytics">Introduction to Greenplum In-Database Analytics</a>
</p>

<p>
  <span class='list-header'>Administration</span><br/>
  <a href="/backup-and-recovery-operations">Backup and Recovery Operations</a><br/>
  <a href="/importing-into-vmware-fusion">Importing into VMware Fusion</a>
</p>